body {
    background-color: #90C7E3;
    color: #666666;
    font-family: Arial, Verdana, sans-serif;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #FFFFFF;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 5px 5px 5px #1e1e1e;
}

header {
    background-color: #002171;
    color: #FFFFFF;
    font-family: Georgia, sans-serif;
    background-image: url(../images/sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 72px;
}

h1 {
    text-align: center;
    padding-top: .5em;
}

nav {
    font-weight: bold;
    text-align: center;
    padding-top: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
}

nav a {
    text-decoration: none;
}

#homehero {
    background-image: url(../images/coast.jpg);
    background-repeat: no-repeat;
    height: 300px;
    background-size: 100% 100%;
}

#yurthero {
    background-image: url(../images/yurt.jpg);
    background-repeat: no-repeat;
    height: 300px;
    background-size: 100% 100%;
}

#trailhero {
    background-image: url(../images/trail.jpg);
    background-repeat: no-repeat;
    height: 300px;
    background-size: 100% 100%;
}

main {
    padding-left: 2em;
    padding-right: 2em;
    display: block;
}

h2 {
    color: #1976D2;
    font-family: Georgia, serif;
}

dt {
    color: #002171;
    font-weight: bold;
}

h3 {
    font-family: Georgia, serif;
}

.resort {
    color: #1976D2;
    font-size: 1.2em;
}

footer {
    font-size: .70em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}